<!-- ******Header****** -->
<header id="header" class="header">
    <div class="container">
        <div class="branding">
            <h1 class="logo">
                <a href="/index.html">
                  <span class="text-highlight">{% include logo-svg.html width="86.1" height="20" %} </span><span class="text-bold">Developer</span>
                </a>
            </h1>
        </div><!--//branding-->
        <ol class="breadcrumb">
            <li><a href="/index.html">Home</a></li>
            <li class="active"><a href="/documentation">Documentation</a></li>
            {% if page.exclude != true %}{% if page.title != nil %}<li class="active">{{page.title}}</li>{% endif %}{% endif %}
        </ol>
    </div><!--//container-->
</header><!--//header-->
